# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#emacs backups
*~

#Make dependency files
*.depend

#gmsh meshes
*.geo
*.msh

#paraview (VTK) output files
*.vtu
*.pvd
*.h5
*.xmf

#movie files saved from paraview
*.avi

# lcov files
*.gcda
*.gcno

# images
*.png
*.eps

# data files
*.csv

# extra directories
test/outhtml/
experimental/

# garbage files that are slowly being removed
*.old

# pdf files (should just keep tex sources)
*.pdf

# Clion files
.idea
cmake-build-debug
cmake-build-release